

body {
    margin: 0;
    padding: 0;
    background-color: #FFF;
    background-image: url("bg1.svg");
    background-size: cover;
    font-family: 'Nunito', sans-serif;
    font-size: x-large;
    color: #FFFfff;
}

header {
    border-color: black;
    border-radius: 50px;
    color: #FFFfff;
    font-size: 42px;
    min-height: 10vh;
    text-align: center;

}
#imagem {
    
    margin-top: 5vh;
    height: 42vh;
    width: 38vh;
    margin-left: auto;
    margin-right: auto;

}
#foto{
    height: 42vh;
    width: 38vh;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
   

}
#botoes {
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    
}

#botao1, #botao2 {
    width: 250px;
    margin: 0.5vh;
    border: #407950;
    border-radius: 50px;
    text-align: center;
    background-color: #7DCE94;
    
    
}

#info {
    border: solid 2px;
    border-color: black;
    border-radius: 50px;
    margin-top: 5vh;
    min-height: 18vh;
    min-width: 28vh;
    max-width: 72vh;
    margin-left: auto;
    margin-right: auto;
    
}

.background {
    background-color: #059DE1;
}

#botaoHome{
    margin-left: 120px;
}