*, html{
    margin: 0;
    padding: 0;
}
body {
    background-image: url("../../imagens/bg3.svg");
    font-family: 'Nunito', sans-serif;
    color:white
}

#button{
    text-align: center;
    font-family: 'Nunito', sans-serif;
    margin-top: 20px;
    background-color: #7DCE94;
    color:rgb(68, 68, 68);
    border:0;
    border-radius: 50px;

}
.formularioEmail{
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;


}
.background{
    background-color: #059DE1;
}
.footerbg {
    background-color: #FDCB5E;
    margin:0px;
}
h6{
    text-align: center;
}
.navbar {
    background-color: #059DE1;
    
}
.recuperaSenha{
    font-family: 'Nunito', sans-serif;
    color:white;
    text-align: center;
    margin-top: 2%;
}
.recuperaSenha2{
    font-family: 'Nunito', sans-serif;
    color:white;
    text-align: center;
    margin-top: 2%;
    font-size: 20pt;
}

