*, html{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("/imagens/bg1.svg");
}
main{
    height: calc(100vh - 50px);
}

.container {
    display: flex;
    justify-content:center;
    height: 150px;
    align-items:center;
    margin: 0 auto;
    border: 1px solid #ccc;
    max-width: 10000px;
    
}
.textoContatos{
    font-family: 'Chewy', cursive;
    color: white;
    text-align: center;
    margin-top: 2%;
}

.menu{
    font-family: 'Nunito', sans-serif;
    color:white;
    text-align: center;
    font-size: 30px;
    padding: 5px ;

}

.btn-cor {
    width: 60%;
    margin: 20px auto;
    height: 40px;
    border-radius: 50px;
    font-family: 'Nunito', sans-serif;
    font-size: 12pt;
    background-color: #4e5255;
    color:white;
    margin-top: 0;

    
}
.btn-cor2 {
    width: 60%;
    margin: 20px auto;
    height: 40px;
    border-radius: 50px;
    font-family: 'Nunito', sans-serif;
    font-size: 12pt;
    background-color: #0073B1;
    color:white;
    margin-top: 0;

    
}
menu:hover {
    text-align: center;
    color: black;
    transition: 3s;
    font-size: 50px;
    
}
.container div {

    height: 60px;
width:230px;
border: 1 px solid black;
padding: 20px;

}

footer00 {
    position:absolute;
    bottom:0;
    width:100%;
    text-align: center;
    display: inline-block;
    background-color:rgb(240, 239, 187);
    border: 1px solid #CCCCCC;
    margin: 0 auto;
    max-width: 1500px;
    font-size: 14px;}

.background{
    background-color: #059DE1;
}

.footerbg{
    background-color: #FDCB5E;
    margin:0px;
}
h6{
    text-align: center;
}
footer{
    height: 50px;
    background-color: #FDCB5E;
    /* background-image: url("../../imagens/wave1.svg"); */
    /* text-align: center; */
}