*, html{
    margin: 0;
    padding: 0;
}
header{
    height: 50px;
    background-color: #b0fff4;    
}
body {
    background-image: url("/imagens/bg2.svg");
}
main{
    height: calc(80vh - 100px);
}
#carousel{
    text-align: center;
}
.carousel-item{
    display: flex;
    flex-direction: row;
}
#frozen{
    margin: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    /* width: 100vw; */
    /* height: 300px; */
    /* overflow: hidden; */
}
img{
    margin-right: 10px;
    border-radius: 20px;
}
.imagens-slick img{
    height: 450px;
    width: auto;
} 
.modal-body img{
    width: 100%;
}
/* img:hover{
    transform: scale(1.2);
    border: 2px black solid;
    transition: 200ms all;
} */
/* 
.searchResultItem{
    display: flex;
    flex-direction: column;
    background-color: #c4c4c4;
    margin: 10px;
    border-radius: 20px;
    padding: 20px;
} */
.items{
    width: 90vw;
    margin: 5px auto;

}
.background{
    background-color: #059DE1;
}
.diversãoGarantida{
    font-family: 'Nunito', sans-serif;
    font-size: 40pt;
    color: white;
    margin-top: 5%;
    text-align: center;
}
.assistirHoje{
        font-family: 'Chewy', cursive;
        font-size: 50pt;
        color: white;
        margin-top: 4%;
        text-align: center;
 }
 .titulosFilmes{
    font-family: 'Nunito', sans-serif;
    font-size: 25pt;
    color: white;
    margin-top: 2%;
    margin-left: 60px;
 }
 h6{
    text-align: center;
}
.footerbg {
    background-color: #FDCB5E;
    margin:0px;
}
.modal-content{
    border-radius: 20px!important
}
.modal-body{
    display: flex;
    flex-direction: column;
}

.btn-cor2 {
    box-sizing: border-box;
    width: 60%;
    margin: 20px auto;
    height: 40px;
    border-radius: 50px;
    font-family: 'Nunito', sans-serif;
    font-size: 12pt;
    background-color: #FA9371;
    color:rgb(68, 68, 68);
    

    
}