*, html{
    margin: 0;
    padding: 0;
}
header{
    height: 50px;
    background-color: #b0fff4;    
}
main{
    height: calc(80vh - 100px);
}

footer{
    height: 50px;
    background-color: #C4C4C4;
    
}
#carousel{
    text-align: center;
}
.carousel-item{
    display: flex;
    flex-direction: row;
}
#frozen{
    margin: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    /* width: 100vw; */
    /* height: 300px; */
    /* overflow: hidden; */
}
img{
    margin-right: 10px;
}
/* img:hover{
    transform: scale(1.2);
    border: 2px black solid;
    transition: 200ms all;
} */