*, html{
    margin: 0;
    padding: 0;
}
header{
    height: 50px;
    background-color: #C4C4C4;    
}
main{
    height: calc(80vh - 100px);
}
form{
    display: flex;
    flex-direction: column;
    margin: 20vh auto;
    width: 40vw
}
form input{
    margin-top: 20px;
    padding-left: 10px;
    border-radius: 1px solid black;
    border-radius: 15px;
    height: 30px;
}
#submit{
    width: 80%;
    margin: 20px auto;
    height: 40px;
}
footer{
    height: 50px;
    background-color: #C4C4C4;
    
}